<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Hope"
         xmlns = "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version = "5.0">
    <display-name>Hope</display-name>
    <distributable/>
    <welcome-file-list>
        <welcome-file>emailmanager.xhtml</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>3</session-timeout>
    </session-config>
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_SCAN_PATHS</param-name>
        <param-value>/*.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.FACES_VIEWS_LOWERCASED_REQUEST_URI</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.EXCEPTION_TYPES_TO_IGNORE_IN_LOGGING</param-name>
        <param-value>jakarta.faces.application.ViewExpiredException, java.nio.channels.ClosedByInterruptException</param-value>
    </context-param>
    <context-param>
        <param-name>com.flowlogix.add-unmapped-resources</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <!-- Mojarra: 1 year cache, effects production mode only -->
        <param-name>com.sun.faces.defaultResourceMaxAge</param-name>
        <param-value>31536000000</param-value>
    </context-param>
    <context-param>
        <param-name>org.omnifaces.VERSIONED_RESOURCE_HANDLER_VERSION</param-name>
        <!-- Version string could be any string here, or taken from @Named bean -->
        <param-value>#{environmentInfo.version}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
